 /* body{
    background-color: rgb(162, 104, 216);
 }
  */
 
 /* .width{
    width: 300px;
    height: 30px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    margin-top: 50px; 
}

.radius{
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
}  */
